@model PizzaApp.Models.Domain.Orders
List<>
<h2>This is Orders</h2>


<ul>
    <li>Order number: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Description: @Model.Price</li>
</ul>



<h2>List of Orders</h2>
